$colors: (
    primary: (
        100: hsl(219, 100%, 80%),
        200: hsl(219, 100%, 70%),
        300: hsl(219, 100%, 60%),
        400: hsl(219, 100%, 43%),
        500: hsl(219, 100%, 20%),
    ),
    neutral: (
        100: hsl(231, 32%, 84%),
        200: hsl(228, 14%, 65%),
        300: hsl(230, 10%, 48%),
        400: hsl(227, 14%, 31%),
        500: hsl(226, 26%, 16%),
    ),
);
