@use "../abstracts" as *;

.card {
    @include mq(small) {
        display: flex;
        gap: 1.25rem;
    }

    &--img {
        flex-shrink: 0;
        width: 100%;
        height: 17.5rem;
        border-radius: 0.75rem;
        overflow: hidden;

        @include mq(small) {
            width: 20rem;
            aspect-ratio: 1;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &--info {
        --flow-spacer: 0.75rem;
        padding-block: 1.25rem;
    }

    &--date {
        font-size: var(--fs-200);
    }

    &--title {
        font-size: var(--fs-500);
    }

    &--desc {
        font-size: var(--fs-200);
    }

    &--link {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        transition: gap 150ms ease, color 150ms ease;

        &:hover {
            gap: 0.5rem;
            color: var(--clr-white);
        }
    }

    :is(&--title, &--desc) {
        display: -webkit-box;
        -webkit-line-clamp: var(--line, 2);
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
