@use "../abstracts" as *;

.feature {
    &--menu {
        --gap: 1rem;

        @include mq(small) {
            --gap: 2rem;
        }
    }

    &--link {
        border-bottom: 2px solid transparent;

        &.active {
            border-color: var(--clr-primary-300);
            color: var(--clr-white);
        }
    }
}
