@use "../abstracts" as *;

.section {
    padding-block: var(--section-spacing);

    &--heading {
        width: fit-content;
        font-size: var(--fs-400);
        line-height: 1;
        margin-bottom: 2rem;

        @include pseudo($top: 80%) {
            background-color: var(--clr-primary-400);
            z-index: -1;
        }
    }
}
